<h1> Ping Pong </h1>
<h2> Enter a whole number </h2>

<form action="/get_ping">
    <div class="form-group">
        <input class="form-control" id="inputnumber" name="inputnumber" type="text">
    </div>
    <button type='submit' class='btn-success'>Send</button>




</form>
